* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.heading {
    font-size: 1.8rem;
    padding: 1rem 0;
}

.main-area {
    padding: 1rem;
}

.after-turn-message {
    font-weight: bold;
    font-size: .9rem;
}

.game-animation-area {
    padding: 1rem 0 0;
    display: flex;
    justify-content: space-around;
}

.game-animation-area p {
    font-weight: bold;
}

.player-area img {
    transform: rotateY(180deg);
}

.selections {
    height: 42vw;
    max-height: 150px;
    width: 42vw;
    max-width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
}

#player-image,
#computer-image {
    width: 85%;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

#player-image {
    right: 2vw;
}

#computer-image {
    left: 2vw;
}

.scores-area {
    font-weight: bold;
    font-size: 2rem;
}

.icon-selection-area {
    margin: 2rem auto 1rem;
    display: flex;
    justify-content: space-evenly;
}

.icon-selection-area i {
    font-size: 30px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

footer {
    border-top: 1px solid black;
}

footer h3 {
    text-decoration: underline;
}

#lizard-rules {
    font-size: .8rem;
}

@media screen and (min-height: 420px) and (min-width: 750px) {
    .selections {
        max-height: 175px;
        max-width: 175px;
    }
}

@media screen and (min-height: 680px) and (min-width: 850px) {
    .main-area {
        width: 80%;
        margin: auto;
    }

    .selections {
        max-height: 250px;
        max-width: 250px;
    }
}

@media screen and (min-width: 1400px) {
    .main-area {
        width: 60%;
    }

    .selections {
        max-height: 350px;
        max-width: 350px;
    }
}